.set-table-grid{
  width: max-content;
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.set-table-inbound th,
.set-table-inbound td{
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.set-table-inbound th:last-child,
.set-table-inbound td:last-child{
  border-right: none;
}

.set-table-inbound thead th{
  height: 78px;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.set-table-inbound tbody td{
  height: 82px;
  cursor: pointer;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.set-empty-row td{
  padding: 0;
}
