.set-table-head.equipment-distribution-table-head-eq,
.bundle-row-eq {
  display: grid;
  
  column-gap: 20px;
  align-items: center;
  text-align: center;
  min-width: 1655px;
}

.bundle-group-eq {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

.set-row-eq-1 {
  display: flex;
  align-items: center;
  gap: 24px;
}

.set-radio-group-eq {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.col-item-eq,
.col-lot-eq,
.col-num-eq,
.col-move-eq,
.col-name-eq {
  justify-content: flex-start;
  margin-left: -19px;
}

.set-radio-eq {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  gap: 5px;
  font-size: 40px;
  color: black;
  padding-right: 10px;
  background-color: transparent;
  white-space: nowrap;
}

.set-radio-eq input {
  width: 32px;
  height: 32px;
  accent-color: #2a5bd6;
  transform: translateY(1px);
}

.set-row-bundle-eq {
  grid-template-columns: 240px 1fr;
}

.equipment-distribution-table-head-eq,
.equipment-distribution-row-eq {
  border-bottom: 2px solid #bfbfbf;
  align-items: stretch;
}

.equipment-distribution-table-head-eq > span,
.equipment-distribution-row-eq > span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 2px solid #a1a1a1;
  text-align: center;
}

.equipment-distribution-table-head-eq > span:last-child,
.equipment-distribution-row-eq > span:last-child {
  border-right: none;
}

.col-status-1-eq {
  margin-left: -19px;
}

.equipment-distribution-table-head-eq .col-status-1-eq,
.equipment-distribution-table-head-eq .col-error-1-eq,
.equipment-distribution-row-eq .col-status-1-eq,
.equipment-distribution-row-eq .col-error-1-eq {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.col-error-1-eq {
  margin-left: -19px;
}
