.set-table-head,
.bundle-row {
  display: grid;
  grid-template-columns: 30px 30px 220px 170px 150px 200px 150px 150px 150px 150px;
  column-gap: 20px;
  align-items: center;
  text-align: center;
  min-width: 1530px;
}

.bundle-group{
  display:flex;
  align-items:center;
  gap:20px;
  
}

.set-radio{
  display:flex;
  align-items:center;
  gap:5px;
  font-size:50px;
  color:black;
  padding-right: 10px;
}

.set-radio input{
  width:32px;
  height:32px;
  accent-color:#2a5bd6;
  transform: translateY(1px);
}

.set-row-radio{
  grid-template-columns:240px 1fr;
}

.equipment-distribution-table-head,
.equipment-distribution-row {
  border-bottom: 2px solid #bfbfbf;
  align-items: stretch;
}

.equipment-distribution-table-head > span,
.equipment-distribution-row > span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 2px solid #a1a1a1;
}

.equipment-distribution-table-head > span:last-child,
.equipment-distribution-row > span:last-child {
  border-right: none;
}
