.set-table-wrap-returnConfiguration {
    display: flex;
    flex-direction: column;
    gap: 16px;
    --set-table-height: 910px;
}

.set-table-returnConfiguration {
    border-radius: 16px;
    border: 2px solid #586a84;
    overflow: hidden;
    background: white;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08);
}

.rlr-row2 {
    display: grid;
    grid-template-columns: 240px 1fr;
    align-items: center;
    gap: 24px;
}

.badioBtnFun10 {
    gap: 80px;
}

.badioBtnFun10 input {
    width: 40px;
}

.badioBtnFun10,
.badioBtnFun10 label {
    display: flex;
    align-items: center;
}

.badioBtnFun10 label {
    gap: 20px;
}

.rlr-row2 label {
    font-size: 34px;
    font-weight: 400;
    color: black;
}

.rlr-row2 input,
.rlr-row2 select {
    height: 78px;
    border-radius: 14px;
    border: 2px solid #5b6d86;
    background: white;
    color: black;
    font-weight: 400;
    padding: 0 22px;
}


.set-row-inline .nocolorbackground {
    background-color: #e5e7eb;
    box-shadow:
        inset 0 4px 8px rgba(255, 255, 255, 0.35),
        0 2px 6px rgba(0, 0, 0, 0.35);
}

/* BORDER */
.set-table-head-returnConfiguration>span {
    justify-content: center;
}

.set-table-head-returnConfiguration>span,
.set-table-row-returnConfiguration>span {
    border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.set-table-head>span:last-child,
.set-table-row>span:last-child {
    border-right: none;
}

/* TABLE */
.set-table-head-returnConfiguration,
.set-table-row-returnConfiguration {
    display: grid;
    grid-template-columns: 50px 100px 150px 220px 170px 140px 140px 170px 200px 190px;
    min-width: 1730px;
    text-align: center;
}

.set-table-head-returnConfiguration {
    background: #fff;
    color: #000;
    font-size: 28px;
    font-weight: 400;
    height: 78px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow:
        0 3px 15px rgba(0, 0, 0, 0.30),
}

.set-table-head-returnConfiguration span {
    white-space: nowrap;
}

.set-table-row-returnConfiguration {
    height: 82px;
    font-size: 26px;
    font-weight: 400;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}